.bg-be{
    background-image: url("https://img.freepik.com/free-photo/portrait-male-civil-engineer-background-construction-site_1057-37118.jpg?t=st=1709040447~exp=1709044047~hmac=43467bc8e0273454a2bea7a597d662b4675ff4587645aa8bd458aec743d5d00d&w=826");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}