.bg-sec{
    background-image: url("https://img.freepik.com/free-psd/builder-carries-steel-beam-his-shoulder-generative-ai_587448-1874.jpg?w=826&t=st=1709040327~exp=1709040927~hmac=58fb62a08c48051d5d522f97c4b622491061a4e97231919245a6025a34024da5");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

